<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Secure Vault for Employees</title>
    <link rel="stylesheet" href="css/style.css">

</head>


<body>s
    <nav class = "navbar">
        <div class ="nav-links">
           <a href="templates/dashboard.html">Dashboard</a>
           <a href="templates/save_password.html">Save Password</a>
           <a href="templates/logout.html">Logout</a>

        </div>
    </nav>

    <section class = "dashboard-page">
        <div class="dashboard-header">
            <div>
                <h1>Password Vault</h1>
                <p>Manage your saved work-related login details securely.</p>
            </div>

            <a href="save_password.html" class="btn-add"> + Save New Password</a>

        </div>

        <div class="vault-card">
            <table class="vault-table">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Username / Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Company Email</td>
                        <td>Employee@example.com</td>
                        <td>........</td>
                        <td>
                            <a href="" class="action-btn view">View</a>
                            <a href="" class="action-btn edit">Edit</a>
                            <a href="" class="action-btn delete">Delete</a>
                           
                        </td>
                    </tr>

                    <tr>
                        <td>HR Portal</td>
                        <td>employee01</td>
                        <td>.........</td>
                        <td>
                            <a href="" class="action-btn view">View</a>
                            <a href="" class="action-btn edit">Edit</a>
                            <a href="" class="action-btn delete">Delete</a>
                           
                        </td>
                    </tr>
                </tbody>

            </table>


        </div>
    </section>
</body>
</html>