<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Password | Secure Vault for Employees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav class ="navbar">
        <div class = "logo">SECURE VAULT FOR EMPLOYEES</div>

        <div class = "nav-links">
            <a href = "/dashboard">Dashboard</a>
            <a href = "/save-password">Save Password</a>
            <a href ="/logout">Logout</a>

        </div>
    </nav>

    <section class = "authorization-page">
        <div class="authorization-left">
            <h1>Save a new password securely.</h1>
            <p>
                Add work-related login details to your encrypted password vault.
                Your saved password will be protected before it is stored.
            </p>

        </div>

        <div class="authorization-card">
            <h2>Save Password</h2>
            <p class="subtitle">Enter the account details you want to store.</p>

            <form method="POST" action="/save-password">
                <div class="form-group">
                    <label for="service">Service name</label>
                   <input
                        type="text"
                        id="service"
                        name="service_name"
                        placeholder="Example: Company Email, HR Portal"
                        required>
                </div>


                
                <div class="form-group">
                    <label for="username">Username / Email</label>
                   <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Enter username or email"
                        required>
                </div>



                <div class="form-group">
                    <label for="password">Password</label>
                   <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter username password to save"
                        required>
                </div>



                <div class="form-group">
                    <label for="notes">Notes</label>
                   <input
                        type="text"
                        id="notes"
                        name="notes"
                        placeholder="Optional notes"
                        >
                </div>


                <button type="submit" class="btn-primary">Save Password</button>

            </form>


            <p class="authorization-link">
                <a href="/dashboard">Back to the Dashboard</a>

            </p>

        </div>

    </section>

</body>
</html>
